
body{background-color:ghostwhite;} 
hr{background-color: grey;height:2px;}
h1{text-align:center;color:brown;background-color:lightgreen; border:5px dashed darkolivegreen; border-radius:10px;padding:10px;}
.image{position:absolute;left:26%;opacity:0.6; }
.img2{position:absolute;top:35%;opacity:0.6;}
.image3{position:absolute;top:35%;opacity:0.6;left:60%}

.one{text-align:center;}
            .txt{position:absolute;left:43%;height:45px; width:200px;}
            .allb{height:45px;font-size:19px;position:absolute;left:20px;}
            .here{position:absolute;left:33%;top:50%;font-weight:bold;}
            .ref{position:absolute;left:46%;top:58%;height:40px; width:120px;background-color:lightgreen;}
            .ref1{position:absolute;left:59%;top:50%;font-weight:bold;}
            .fc{position:absolute; left:70%; top:55%;}
            .mf{position:absolute; left:70%; top:75%;}
            .cm{position:absolute; left:70%; top:95%;}
            .kp{position:absolute; left:70%; top:115%;}
            
             .cf{position:absolute; top:55%;}
            .fm{position:absolute; top:75%;}
            .ic{position:absolute; top:95%;}
            .pk{position:absolute; top:115%;}
            .er{position:absolute; top:135%;}